body{
  //font-family : "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family:'roboto light', sans-serif;
  height:100%;
  width:100%;
  margin:0;
  color:#323232;
  font-size:12px;
}

html{
  height:100%;
  width:100%;
}

@font-face{
  font-family: "roboto thin";
  src: url("/font/Roboto-thin.ttf");
}

@font-face{
  font-family: "roboto";
  src: url("/font/Roboto-Medium.ttf");
}

@font-face{
  font-family: "roboto light";
  src: url("/font/Roboto-Light.ttf");
}

@font-face{
  font-family: "roboto bold";
  src: url("/font/Roboto-Bold.ttf");
}
